@page "/admin"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using TableSkeleton
@using UserManagementView
@using SubjectsView
@using NotificationsView

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject UserService UserService

<div class="admin-content mt-4">
    @if (SelectedRole == "" || SelectedRole == "Teacher")
    {
        <UserManagementView Students="Users" />
    }
    else if (SelectedRole == "Subjects")
    {
        <SubjectsView />
    }
    else if (SelectedRole == "Notifications")
    {
         <NotificationsView />
    }
    else
    {
        <p>Unknown view</p>
    }
</div>

@code {
    [CascadingParameter]
    public AdminLayout.AdminLayoutContext? AdminLayoutContext { get; set; }

    private string SelectedRole { get; set; } = string.Empty;
    private List<UserReadDto>? Users;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && AdminLayoutContext != null)
        {
            AdminLayoutContext.SelectedRole = SelectedRole;
            AdminLayoutContext.RoleSelectedCallback = SelectRoleFilter;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity?.IsAuthenticated ?? false)
        {
            NavigationManager.NavigateTo("/", true, replace: true);
            return;
        }

        if (!user.IsInRole("Admin"))
        {
            NavigationManager.NavigateTo("/forbidden", true, replace: true);
            return;
        }

        SelectedRole = string.Empty;
        await LoadUsersAsync();
    }

    private void SelectRoleFilter(string role)
    {
        SelectedRole = (SelectedRole == role) ? string.Empty : role;
        if (AdminLayoutContext != null)
            AdminLayoutContext.SelectedRole = SelectedRole;
        StateHasChanged();
    }

    private async Task LoadUsersAsync()
    {
        try
        {
            await Task.Delay(200);
            Users = await UserService.GetAllUsersAsync();
        }
        catch
        {
            Users = new List<UserReadDto>();
        }
    }
}
