<div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><div class="placeholder-glow"><span class="placeholder col-6"></span></div></th>
                    <th><div class="placeholder-glow"><span class="placeholder col-6"></span></div></th>
                    <th><div class="placeholder-glow"><span class="placeholder col-6"></span></div></th>
                    <th><div class="placeholder-glow"><span class="placeholder col-6"></span></div></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td><div class="placeholder-glow"><span class="placeholder col-8"></span></div></td>
                        <td><div class="placeholder-glow"><span class="placeholder col-5"></span></div></td>
                        <td><div class="placeholder-glow"><span class="placeholder col-7"></span></div></td>
                        <td><div class="placeholder-glow"><span class="placeholder col-4"></span></div></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>